* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

@-webkit-keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes upDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes upDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 1;
  }
}

.header {
  font-size: 60px;
  padding: 10px;
  text-align: center;
}

.section {
  padding: 50px;
  margin: 0 auto;
}

.nav-overlay {
  display: none;
}

.open-nav {
  display: none;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 30px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.nav-container .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-container .logo {
  max-height: 60px;
}

.nav-container .logo-hidden {
  display: none;
}

.nav-scroll {
  background: rgba(255, 255, 255, 0.95);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 2;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}

.nav-scroll .logo {
  display: none;
}

.nav-scroll .logo-hidden {
  display: block;
}

.nav-scroll .nav-wrapper .nav-item .nav-link {
  color: black;
}

.nav-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-sections .nav-item {
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 16px;
  margin: 20px;
}

.nav-sections .nav-item .nav-link {
  color: white;
}

.nav-sections .nav-item:after {
  display: none;
  content: "";
  background: url(../images/line.png);
  position: absolute;
  left: calc(50% - 35px);
  bottom: -15px;
  height: 2px;
  width: 70px;
}

.nav-sections .nav-item:hover:after {
  display: block;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: gray;
  padding-top: 50px;
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 90vh;
}

.main-section .main-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 0 auto;
}

.main-section .main-cta .main-header,
.main-section .main-cta .header-subtitle {
  margin: 15px;
  color: white;
}

.main-section .main-cta .header-subtitle:nth-child(2) {
  font-size: 50px;
}

.main-section .main-cta .header-subtitle:nth-child(3) {
  font-size: 25px;
}

.main-section .main-cta .cta-button {
  margin-top: 50px;
  background: #cc1c29;
  color: white;
  text-transform: uppercase;
  background-position: right bottom;
  border-radius: 2px;
  width: 190px;
  height: 52px;
  cursor: pointer;
  border: none;
}

.main-section .main-cta .cta-button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #b61924), color-stop(50%, #cc1c29));
  background: linear-gradient(to right, #b61924 50%, #cc1c29 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.main-section .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  position: fixed;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  background: #f5f5f5;
  height: 75px;
  width: 75px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.main-section .message:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background: #dd3333;
}

.main-section .message:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 32px;
}

.main-section .message img {
  height: 30px;
  width: auto;
}

.main-section .scroll-arrows {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 40px;
  width: 30px;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main-section .scroll-arrows .arrow {
  height: 50px;
  width: 30px;
  position: absolute;
  top: 5px;
}

.main-section .scroll-arrows .arrow:first-child {
  -webkit-animation: upDown 2s linear infinite;
          animation: upDown 2s linear infinite;
}

.main-section .scroll-arrows .arrow:nth-child(2) {
  top: 20px;
  -webkit-animation: upDown 2s linear infinite;
          animation: upDown 2s linear infinite;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.main-section .arrows-visible {
  visibility: visible;
}

.separator {
  bottom: -100px;
  border-top: 1px solid #3a0a0a;
  background: white;
  height: 200px;
  width: 100%;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  position: absolute;
}

.services-section {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.services-section .header {
  margin: 30px 0px 70px 0px;
  position: relative;
}

.services-section .header:before {
  content: '';
  position: absolute;
  border: 1px solid #dddddd;
  width: 0;
  height: 35px;
  top: 80px;
  left: 50%;
}

.services-section .header:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #ff6400;
  border-radius: 50%;
  top: 115px;
  left: calc(50% - 4px);
  border: 2px solid #dd3333;
}

.services-section .services-subheader {
  text-align: justify;
  text-align-last: center;
}

.services-section .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-section .icons-container .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  margin: 50px 20px 50px 20px;
}

.services-section .icons-container .icon-text .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #eff2f7;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.services-section .icons-container .icon-text .icon-wrapper:hover {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  cursor: pointer;
  background-color: #dd3333;
  border: 2px solid #bd2020;
}

.services-section .icons-container .icon-text .icon-wrapper:hover .fas {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  color: white;
  background-color: #dd3333;
  border: 2px solid #bd2020;
}

.services-section .icons-container .icon-text .icon-wrapper .fas {
  font-size: 25px;
  padding: 24px;
  color: grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eff2f7;
  border: 1px solid #e8ecf4;
  border-radius: 50%;
}

.services-section .icons-container .icon-text .service-header {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0px 50px 0px;
  position: relative;
}

.services-section .icons-container .icon-text .service-header:after {
  content: "";
  background: url(../images/line.png);
  position: absolute;
  left: calc(50% - 20px);
  bottom: -25px;
  height: 4px;
  width: 40px;
}

.services-section .icons-container .icon-text .service-text {
  text-align: justify;
  text-align-last: center;
}

.numbers-section {
  margin: 0 auto;
  background-color: #161616;
}

.numbers-section .numbers-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1170px;
}

.numbers-section .numbers-inner .project-container {
  padding: 10px;
  text-align: center;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 250px;
  border: 2px solid #161616;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.numbers-section .numbers-inner .project-container:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #090909;
}

.numbers-section .numbers-inner .project-container:hover .js-count {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: red;
  font-size: 35px;
}

.numbers-section .numbers-inner .project-container:hover .project-text {
  font-size: 19px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.numbers-section .numbers-inner .project-container .project-counter {
  font-size: 30px;
}

.numbers-section .numbers-inner .project-container .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 40px;
  font-size: 16px;
}

.contact-section {
  background: #dd3333;
  margin: 0 auto;
  padding: 80px;
}

.contact-section .contact-inner {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact-inner .contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contact-section .contact-inner .contact-header .fas {
  font-size: 60px;
  color: white;
}

.contact-section .contact-inner .contact-header .contact-text {
  margin-left: 20px;
  color: white;
}

.contact-section .contact-inner .contact-header .contact-text p:first-child {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.contact-section .contact-inner .contact-header .contact-text p:nth-child(2) {
  font-style: italic;
  padding: 5px;
}

.contact-section .contact-inner .contact-btn {
  width: 200px;
  height: 60px;
  border: none;
  padding: 0px 20px 0px 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #ec8a8a;
  background: #e45f5f;
}

.contact-section .contact-inner .contact-btn:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background: #e14949;
  font-weight: bold;
}

.contact-section .contact-inner .contact-btn span,
.contact-section .contact-inner .contact-btn .fas {
  text-transform: uppercase;
  color: white;
}

.clients-section .clients-subheader {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

.clients-section .clients-subheader:before {
  content: '';
  position: absolute;
  border: 1px solid #dddddd;
  width: 0;
  height: 35px;
  top: 30px;
  left: 50%;
}

.clients-section .clients-subheader:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #ff6400;
  border-radius: 50%;
  top: 65px;
  left: calc(50% - 4px);
  border: 2px solid #dd3333;
}

.clients-section .clients-inner {
  margin: 0 auto;
  max-width: 1170px;
}

.clients-section .clients-inner .owl-two .owl-item {
  height: 100%;
}

.technologies-section {
  position: relative;
}

.technologies-section .tech-letters {
  position: absolute;
}

.technologies-section .technologies-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1170px;
  min-height: 400px;
  margin: 0 auto;
}

.technologies-section .header {
  position: relative;
}

.technologies-section .header:before {
  content: '';
  position: absolute;
  border: 1px solid #dddddd;
  width: 0;
  height: 35px;
  top: 80px;
  left: 50%;
}

.technologies-section .header:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #ff6400;
  border-radius: 50%;
  top: 115px;
  left: calc(50% - 4px);
  border: 2px solid #dd3333;
}

.technologies-section .tabs-container,
.technologies-section .loader-container {
  width: 50%;
}

.technologies-section .tabs-container {
  margin-top: 50px;
}

.technologies-section .loader-container {
  position: relative;
  top: 150px;
}

.technologies-section .tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.technologies-section .tabs-list .tab {
  width: auto;
  padding: 20px;
  margin: 1px;
  height: 40px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid transparent;
}

.technologies-section .tabs-list .tab:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background: #dd3333;
  color: white;
  cursor: pointer;
}

.technologies-section .tabs-list .selected {
  background: #dd3333;
  color: white;
}

.technologies-section .tabs-list .tab-content {
  display: none;
}

.technologies-section .tabs-list .visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 120px;
  z-index: 1;
}

.technologies-section .tabs-list .visible .tab-title {
  margin-bottom: 50px;
  font-weight: bold;
  position: relative;
}

.technologies-section .tabs-list .visible .tab-title:after {
  content: "";
  background: url(../images/line.png);
  position: absolute;
  left: 0;
  bottom: -22px;
  height: 3px;
  width: 30px;
}

.technologies-section .tabs-list .visible .tab-description {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.technologies-section .loader-container {
  height: 100%;
  z-index: 1;
  width: 50%;
}

.technologies-section .loader-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technologies-section .loader-container .loader:before {
  content: '';
  position: absolute;
  top: -28px;
  left: -48px;
  width: 110px;
  height: 110px;
  border: 2px solid transparent;
  border-bottom: 2px solid #dd3333;
  border-radius: 50%;
  -webkit-animation: animateCircle 3s linear infinite;
          animation: animateCircle 3s linear infinite;
}

.technologies-section .loader-container .loader:after {
  content: '';
  position: absolute;
  top: -40px;
  left: -59px;
  width: 125px;
  height: 125px;
  border: 6px solid transparent;
  border-top: 6px solid #D1D1D1;
  border-radius: 50%;
  animation: reverse animateCircle 2s linear infinite;
}

.technologies-section .loader-container .preloader-img {
  max-width: 350px;
}

.portfolio-section {
  min-height: 600px;
  background-image: url("../images/portfolio-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.portfolio-section .portfolio-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.portfolio-section .portfolio-inner h3 {
  font-size: 60px;
  padding: 10px;
  color: white;
  text-align: center;
}

.portfolio-section .portfolio-inner .portfolio-subheader {
  margin-bottom: 100px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  color: white;
}

.portfolio-section .portfolio-inner .portfolio-subheader:before {
  content: '';
  position: absolute;
  border: 1px solid #dddddd;
  width: 0;
  height: 35px;
  top: 30px;
  left: 50%;
}

.portfolio-section .portfolio-inner .portfolio-subheader:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #ff6400;
  border-radius: 50%;
  top: 65px;
  left: calc(50% - 4px);
  border: 2px solid #dd3333;
}

.portfolio-section .portfolio-inner .reference-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  width: auto;
}

.portfolio-section .portfolio-inner .reference-item .image-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.portfolio-section .portfolio-inner .reference-item .image-container .project-img {
  width: auto;
  max-height: 300px;
  margin: 0 auto;
}

.portfolio-section .portfolio-inner .reference-item .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-align: justify;
  padding: 20px 30px 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-section .portfolio-inner .reference-item .project-info p:first-child {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

.portfolio-section .portfolio-inner .reference-item .project-info p:nth-child(2) {
  font-size: 16px;
  line-height: 30px;
  padding: 20px 0px 30px 0px;
}

.portfolio-section .portfolio-inner .reference-item .project-info .btn-live {
  width: 190px;
  height: 40px;
  text-decoration: none;
  background: transparent;
  color: #dd3333;
  border: 1px solid #dd3333;
  padding: 10px 20px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

.portfolio-section .portfolio-inner .reference-item .project-info .btn-live .fas {
  margin-left: 20px;
}

.portfolio-section .portfolio-inner .reference-item .project-info .btn-live:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #921818;
  color: white;
}

.portfolio-section .portfolio-inner .reference-item .project-info .btn-live:hover .fas {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: white;
}

.references-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  position: relative;
}

.references-section .references-inner {
  max-width: 1270px;
  margin: 0 auto;
}

.references-section .references-inner .header {
  color: black;
  position: relative;
}

.references-section .references-inner .header:before {
  content: '';
  position: absolute;
  border: 1px solid #dddddd;
  width: 0;
  height: 35px;
  top: 80px;
  left: 50%;
}

.references-section .references-inner .header:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #ff6400;
  border-radius: 50%;
  top: 115px;
  left: calc(50% - 4px);
  border: 2px solid #dd3333;
}

.references-section .references-inner .owl-carousel,
.references-section .references-inner .owl-theme,
.references-section .references-inner .owl-stage-outer,
.references-section .references-inner .reference-item {
  height: 300px;
  max-width: 1170px;
  position: relative;
}

.references-section .owl-dots {
  padding-top: 25px;
}

.references-section .reference-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.references-section .card-reference div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 25px 20px 0px 25px;
}

.references-section .card-reference div .company {
  font-weight: bold;
}

.references-section .card-reference div .author {
  margin-left: 10px;
  font-style: italic;
}

.references-section .card-reference .quote-content {
  border: 2px solid red;
  -webkit-box-shadow: 0px 0px 20px 1px #999999;
          box-shadow: 0px 0px 20px 1px #999999;
  padding: 40px 50px 40px 50px;
  font-style: italic;
  text-align: justify;
  line-height: 25px;
  border: 1px solid #eeeeee;
  position: relative;
}

.socials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/parallax.jpg);
  height: 24vh;
  max-height: 1200px;
  min-height: 100px;
}

.socials-section .social-header {
  color: white;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}

.socials-section .socials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-section .socials-section i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  background: transparent;
  border: 2px solid grey;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.socials-section .socials-section .fa-facebook-f:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

.socials-section .socials-section .fa-linkedin-in:hover {
  border-color: #0e76a8;
  background-color: #0e76a8;
}

.socials-section .socials-section .fa-google-plus-g:hover {
  border-color: #d34836;
  background-color: #d34836;
}

.socials-section .socials-section .fa-twitter:hover {
  border-color: #1DA1F2;
  background-color: #1DA1F2;
}

.footer {
  background-color: #1a1a1a;
  position: relative;
  z-index: 6;
}

.footer .footer-accordion {
  display: none;
}

.footer .footer-accordion .accordion-link::after {
  content: ' ';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  right: 10px;
  bottom: 5px;
}

.footer .footer-accordion .accordion-link.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-accordion .accordion-item {
  position: relative;
}

.footer .footer-accordion .content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  color: white;
  font-size: 16px;
  -webkit-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.footer .footer-accordion .content.active {
  opacity: 1;
  padding: 20px 15px 20px 15px;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
  text-align: justify;
}

.footer .footer-accordion .accordion-link {
  position: relative;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #161616;
  padding: 15px 0px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.footer .footer-accordion .accordion-link:after {
  cursor: pointer;
  background: url(../images/down-arrow.png);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .accordion-link.active {
  color: #dd3333;
}

.inner-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-list .footer-item:first-child,
.footer-list :last-child {
  width: 30%;
}

.footer-list .footer-item:nth-child(2),
.footer-list .footer-item:nth-child(3) {
  width: 20%;
  padding: 0px 20px 0px 20px;
}

.footer-list .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.footer-list .footer-item .footer-header {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  position: relative;
  margin: 25px 0px 50px 0px;
}

.footer-list .footer-item .footer-header:after {
  content: "";
  background: url(../images/line.png);
  position: absolute;
  left: calc(0px);
  bottom: -25px;
  height: 4px;
  width: 30px;
}

.footer-list .footer-item .footer-info,
.footer-list .footer-item ul {
  width: 100%;
  color: #999;
  font-size: 12px;
  line-height: 25px;
}

.footer-list .footer-item .footer-info li:hover,
.footer-list .footer-item ul li:hover {
  color: #dd3333;
  cursor: pointer;
}

.btn-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: black;
  border: 1px solid #1a1a1a;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.footer-copyright {
  background: black;
}

.footer-copyright .copyright {
  padding: 30px;
  font-weight: bold;
  font-size: 10px;
  color: white;
  text-align: center;
}

@keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes upDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .header {
    font-size: 45px;
    margin-bottom: 60px;
  }
  .nav-container .nav-wrapper {
    display: none;
  }
  .open-nav {
    position: fixed;
    display: block;
    left: calc(100% - 60px);
    color: white;
    font-size: 45px;
    font-weight: bold;
    z-index: 2000;
    width: 30px;
    height: 30px;
    top: 5px;
  }
  .nav-scroll {
    display: none;
  }
  .nav-overlay {
    height: 100%;
    display: block;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .nav-overlay .nav-link {
    padding: 12px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-overlay .close-nav {
    position: absolute;
    top: -30px;
    right: 15px;
    font-size: 100px;
    color: white;
  }
  .nav-visible {
    width: 100%;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  .services-section {
    width: auto;
  }
  .services-section .icons-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .numbers-section .numbers-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .technologies-section .loader-container {
    display: none;
  }
  .technologies-section .tabs-list {
    max-width: 100%;
  }
  .technologies-section .tabs-container {
    width: 100%;
  }
  .references-section .references-inner {
    max-width: 100%;
  }
}

@media (max-width: 980px) {
  .portfolio-section .portfolio-inner .reference-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-section .portfolio-inner .reference-item .image-container,
  .portfolio-section .portfolio-inner .reference-item .project-info {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-section .message {
    display: none;
  }
  .footer .btn-up {
    right: 8px;
    bottom: 16px;
    width: 40px;
    height: 40px;
  }
  .footer .inner-container {
    display: none;
  }
  .footer .footer-accordion {
    display: block;
  }
}

@media (max-width: 576px) {
  .nav-overlay .nav-link {
    font-size: 25px;
  }
  .nav-overlay .close-nav {
    top: -25px;
    right: 5px;
    font-size: 90px;
  }
  .open-nav {
    left: calc(100% - 50px);
    font-size: 40px;
  }
  .header {
    font-size: 35px;
  }
  .main-section .main-cta .main-header,
  .main-section .main-cta .header-subtitle {
    margin: 5px;
  }
  .main-section .main-cta .header-subtitle:nth-child(2) {
    font-size: 30px;
  }
  .services-section .services-subheader {
    padding-top: 20px;
  }
  .services-section .icons-container .icon-text {
    max-width: none;
    margin: 20px 10px 20px 10px;
  }
  .services-section .icons-container .icon-text .icon-wrapper {
    width: 25px;
    height: 25px;
  }
  .services-section .icons-container .icon-text .icon-wrapper .fas {
    font-size: 20px;
    padding: 15px;
  }
  .numbers-section .numbers-inner .project-container {
    height: 160px;
    width: 180px;
  }
  .numbers-section .numbers-inner .project-container .project-counter {
    font-size: 20px;
  }
  .numbers-section .numbers-inner .project-container .project-text {
    font-size: 14px;
  }
  .numbers-section .numbers-inner .project-container img {
    width: 50px;
    height: 50px;
  }
  .portfolio-section .portfolio-inner h3 {
    font-size: 35px;
  }
  .portfolio-section .portfolio-inner .reference-item .image-container .project-img {
    max-width: 250px;
  }
  .portfolio-section .portfolio-inner .reference-item .project-info p:first-child {
    font-size: 25px;
  }
  .portfolio-section .portfolio-inner .reference-item .project-info p:nth-child(2) {
    font-size: 14px;
  }
  .portfolio-section .portfolio-inner .reference-item .project-info .btn-live {
    margin: 0 auto;
  }
  .section,
  .contact-section {
    padding: 0px 10px 50px 10px;
  }
  .contact-section .contact-inner .contact-header .fas {
    display: none;
  }
  .references-section {
    height: auto;
    margin-bottom: 30px;
  }
  .references-section .references-inner .owl-carousel,
  .references-section .references-inner .owl-theme,
  .references-section .references-inner .owl-stage-outer,
  .references-section .references-inner .reference-item {
    height: auto;
    margin-bottom: 10px;
  }
  .references-section .card-reference .quote-content {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */