* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 30px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.nav-container .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-container .logo {
  max-height: 60px;
}

.nav-container .logo-hidden {
  display: none;
}

.nav-scroll {
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-scroll .logo {
  display: none;
}

.nav-scroll .logo-hidden {
  display: block;
}

.nav-scroll .nav-wrapper .nav-item .nav-link {
  color: black;
}

.nav-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-sections .nav-item {
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 16px;
  margin: 20px;
}

.nav-sections .nav-item .nav-link {
  color: white;
}

.nav-sections .nav-item:after {
  display: none;
  content: "";
  background: url(../images/line.png);
  position: absolute;
  left: calc(50% - 35px);
  bottom: -20px;
  height: 2px;
  width: 70px;
}

.nav-sections .nav-item:hover:after {
  display: block;
}

.main-section {
  background: gray;
  padding-top: 50px;
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-animation: shrink 15s infinite;
          animation: shrink 15s infinite;
}

.main-section .main-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 0 auto;
}

.main-section .main-cta .main-header,
.main-section .main-cta .header-subtitle {
  margin: 15px;
  color: white;
}

.main-section .main-cta .header-subtitle:nth-child(2) {
  font-size: 50px;
}

.main-section .main-cta .header-subtitle:nth-child(3) {
  font-size: 25px;
}

.main-section .main-cta .cta-button {
  margin-top: 50px;
  background: #cc1c29;
  color: white;
  text-transform: uppercase;
  background-position: right bottom;
  border-radius: 2px;
  width: 190px;
  height: 52px;
  cursor: pointer;
  border: none;
}

.main-section .main-cta .cta-button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #b61924), color-stop(50%, #cc1c29));
  background: linear-gradient(to right, #b61924 50%, #cc1c29 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@-webkit-keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 101% 101%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 101% 101%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.separator {
  bottom: -100px;
  border-top: 10px solid grey;
  background: white;
  height: 200px;
  width: 100%;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  position: absolute;
}

.services {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.services h2 {
  text-align: center;
  font-size: 50px;
  color: black;
  margin: 30px;
}

.services .services-subheader {
  text-align: center;
}

.services .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .icons-container .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
}

.services .icons-container .icon-text .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #eff2f7;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.services .icons-container .icon-text .icon-wrapper:hover {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  cursor: pointer;
  background-color: #dd3333;
  border: 2px solid #bd2020;
}

.services .icons-container .icon-text .icon-wrapper:hover .fas {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  color: white;
  background-color: #dd3333;
  border: 2px solid #bd2020;
}

.services .icons-container .icon-text .icon-wrapper .fas {
  font-size: 25px;
  color: grey;
  padding: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eff2f7;
  border: 1px solid #e8ecf4;
  border-radius: 50%;
}

.services .icons-container .icon-text .service-header {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0px 50px 0px;
  position: relative;
}

.services .icons-container .icon-text .service-header:after {
  content: "";
  background: url(../images/line.png);
  position: absolute;
  left: calc(50% - 20px);
  bottom: -25px;
  height: 4px;
  width: 40px;
}

.services .icons-container .icon-text .service-text {
  text-align: center;
}

.clients {
  margin: 0 auto;
  background-color: #161616;
  padding: 20px 0px 20px 0px;
}

.clients .clients-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1170px;
}

.clients .clients-inner .project-container {
  padding: 10px;
  text-align: center;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 250px;
  border: 2px solid #161616;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.clients .clients-inner .project-container:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #090909;
}

.clients .clients-inner .project-container:hover .js-count {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: red;
  font-size: 35px;
}

.clients .clients-inner .project-container:hover .project-text {
  font-size: 19px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.clients .clients-inner .project-container i {
  color: white;
  font-size: 40px;
}

.clients .clients-inner .project-container .js-count {
  font-size: 30px;
}

.clients .clients-inner .project-container p {
  color: white;
  font-size: 18px;
}

.contact-section {
  background: #dd3333;
  margin: 0 auto;
  padding: 50px;
}

.contact-section .contact-inner {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact-inner .contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contact-section .contact-inner .contact-header i {
  font-size: 60px;
  color: white;
}

.contact-section .contact-inner .contact-header .contact-text {
  margin-left: 20px;
}

.contact-section .contact-inner .contact-header .contact-text p {
  padding: 5px;
  color: white;
}

.contact-section .contact-inner .contact-header .contact-text p:first-child {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-section .contact-inner .contact-header .contact-text p:nth-child(2) {
  font-style: italic;
}

.contact-section .contact-inner .contact-btn {
  width: 150px;
  height: 50px;
  border: none;
  padding: 0px 20px 0px 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #ec8a8a;
  background: #e45f5f;
}

.contact-section .contact-inner .contact-btn span,
.contact-section .contact-inner .contact-btn i {
  text-transform: uppercase;
  color: white;
}

.socials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.socials-section i {
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  background: lightgrey;
  border: 2px solid grey;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
}

footer {
  background: black;
}

footer p {
  padding: 30px;
  font-weight: bold;
  font-size: 10px;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */