@import '_mixins.scss';
@media (max-width: 1280px) {
    .header {
        font-size: 45px;
        margin-bottom: 60px;
    }
    .nav-container {
        .nav-wrapper {
            display: none;
        }
    }
    .services-section {
        width: auto;
        .icons-container {
            @include wrap-center;
        }
    }
    .numbers-section {
        .numbers-inner {
            @include wrap-center;
        }
    }
    .technologies-section {
        .loader-container {
            display: none;
        }
        .tabs-list {
            max-width: 100%;
        }
        .tabs-container {
            width: 100%;
        }
    }
    .references-section {
        .references-inner {
            max-width: 100%;
        }
    }
}

@media (max-width: 980px) {
    .portfolio-section {
        .portfolio-inner {
            .reference-item {
                flex-direction: column;
                .image-container,
                .project-info {
                    width: 100%;
                }
            }
        }
    }
}