@import '_reset.scss';
@import '_mixins.scss';
.header {
    font-size: 60px;
    padding: 10px;
    text-align: center;
}

.section {
    padding: 50px;
    margin: 0 auto;
}

.nav-overlay {
    display: none;
}

.open-nav {
    display: none;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 30px;
    transition: 0.3s all ease;
    .nav-wrapper {
        @include flex-row-between-center;
        max-width: 1170px;
        margin: 0 auto;
    }
    .logo {
        max-height: 60px;
    }
    .logo-hidden {
        display: none;
    }
}

.nav-scroll {
    background: rgba(255, 255, 255, 0.95);
    transition: 0.3s all ease;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 2;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08);
    .logo {
        display: none;
    }
    .logo-hidden {
        display: block;
    }
    .nav-wrapper {
        .nav-item {
            .nav-link {
                color: black;
            }
        }
    }
}

.nav-sections {
    display: flex;
    flex-direction: row;
    .nav-item {
        text-transform: uppercase;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        margin: 20px;
        .nav-link {
            color: white;
        }
        &:after {
            display: none;
            content: "";
            background: url(../images/line.png);
            position: absolute;
            left: calc(50% - 35px);
            bottom: -15px;
            height: 2px;
            width: 70px;
        }
        &:hover:after {
            display: block;
        }
    }
}

.main-section {
    @include flex-row-center-center;
    background: gray;
    padding-top: 50px;
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 90vh;
    .main-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        margin: 0 auto;
        .main-header,
        .header-subtitle {
            margin: 15px;
            color: white;
        }
        .header-subtitle:nth-child(2) {
            font-size: 50px;
        }
        .header-subtitle:nth-child(3) {
            font-size: 25px;
        }
        .cta-button {
            margin-top: 50px;
            background: #cc1c29;
            color: white;
            text-transform: uppercase;
            background-position: right bottom;
            border-radius: 2px;
            width: 190px;
            height: 52px;
            cursor: pointer;
            border: none;
            &:hover {
                transform: translateY(-1px);
                background: linear-gradient(to right, #b61924 50%, #cc1c29 50%);
                background-size: 200% 100%;
                background-position: left bottom;
                transition: all .5s ease-out;
            }
        }
    }
    .message {
        @include flex-row-center-center;
        z-index: 5;
        position: fixed;
        cursor: pointer;
        right: 30px;
        bottom: 30px;
        border-radius: 50%;
        border: 1px solid #f2f2f2;
        background: #f5f5f5;
        height: 75px;
        width: 75px;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, .10);
        &:hover {
            transition: 0.3s all;
            background: $red;
            img {
                filter: invert(100%);
                height: 32px;
            }
        }
        img {
            height: 30px;
            width: auto;
        }
    }
    .scroll-arrows {
        position: absolute;
        left: calc(50% - 15px);
        bottom: 40px;
        width: 30px;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        .arrow {
            height: 50px;
            width: 30px;
            position: absolute;
            top: 5px;
        }
        .arrow:first-child {
            animation: upDown 2s linear infinite;
        }
        .arrow:nth-child(2) {
            top: 20px;
            animation: upDown 2s linear infinite;
            animation-delay: 0.05s;
        }
    }
    .arrows-visible {
        visibility: visible;
    }
}

.separator {
    bottom: -100px;
    border-top: 1px solid darken($red, 40);
    background: white;
    height: 200px;
    width: 100%;
    transform: skewY(-3deg);
    position: absolute;
}

.services-section {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    .header {
        margin: 30px 0px 70px 0px;
        position: relative;
        @include header-line(80px);
    }
    .services-subheader {
        text-align: justify;
        text-align-last: center;
    }
    .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .icon-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 320px;
            margin: 50px 20px 50px 20px;
            .icon-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;
                width: auto;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 2px solid #eff2f7;
                transition: 1s all ease;
                &:hover {
                    transition: 1s all ease;
                    cursor: pointer;
                    background-color: $red;
                    border: 2px solid darken($color: $red, $amount: 10);
                    .fas {
                        transition: 1s all ease;
                        color: white;
                        background-color: $red;
                        border: 2px solid darken($color: $red, $amount: 10);
                    }
                }
                .fas {
                    font-size: 25px;
                    padding: 24px;
                    color: grey;
                    box-sizing: border-box;
                    background-color: #eff2f7;
                    border: 1px solid darken($color: #eff2f7, $amount: 2);
                    border-radius: 50%;
                }
            }
            .service-header {
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                margin: 20px 0px 50px 0px;
                position: relative;
                &:after {
                    content: "";
                    background: url(../images/line.png);
                    position: absolute;
                    left: calc(50% - 20px);
                    bottom: -25px;
                    height: 4px;
                    width: 40px;
                }
            }
            .service-text {
                text-align: justify;
                text-align-last: center;
            }
        }
    }
}

.numbers-section {
    margin: 0 auto;
    background-color: $numbers;
    .numbers-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1170px;
        .project-container {
            padding: 10px;
            text-align: center;
            height: 190px;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: white;
            width: 250px;
            border: 2px solid lighten($color: $numbers, $amount: 0.1);
            transition: 0.3s all;
            &:hover {
                cursor: pointer;
                border-radius: 10px;
                border: 1px solid darken($color: $numbers, $amount: 5);
                .js-count {
                    transition: 0.2s all;
                    color: red;
                    font-size: 35px;
                }
                .project-text {
                    font-size: 19px;
                    transition: 0.2s all;
                }
            }
            .project-counter {
                font-size: 30px
            }
            .project-text {
                @include flex-row-center-center;
                color: white;
                height: 40px;
                font-size: 16px;
            }
        }
    }
}

.contact-section {
    background: $red;
    margin: 0 auto;
    padding: 80px;
    .contact-inner {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .contact-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            .fas {
                font-size: 60px;
                color: white;
            }
            .contact-text {
                margin-left: 20px;
                color: white;
                p:first-child {
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 5px;
                }
                p:nth-child(2) {
                    font-style: italic;
                    padding: 5px;
                }
            }
        }
        .contact-btn {
            width: 200px;
            height: 60px;
            padding: 0 20px 0 20px;
            color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            flex-direction: row;
            justify-content: space-around;
            border: 2px solid lighten($color: $red, $amount: 20);
            background: lighten($color: $red, $amount: 10);

            &:hover {
                transition: 0.3s all;
                background: lighten($color: $red, $amount: 5);
                font-weight: bold;
            }
            span,
            .fas {
                text-transform: uppercase;
                color: white;
            }
        }
    }
}

.clients-section {
    .clients-subheader {
        text-align: center;
        margin-bottom: 100px;
        position: relative;
        @include header-line(30px);
    }
    .clients-inner {
        margin: 0 auto;
        max-width: 1170px;
        .owl-two {
            .owl-item {
                height: 100%;
            }
        }
    }
}

.technologies-section {
    position: relative;
    .tech-letters {
        position: absolute;
    }
    .technologies-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1170px;
        min-height: 400px;
        margin: 0 auto;
    }
    .header {
        position: relative;
        @include header-line(80px);
    }
    .tabs-container,
    .loader-container {
        width: 50%;
    }
    .tabs-container {
        margin-top: 50px;
    }
    .loader-container {
        position: relative;
        top: 150px;
    }
    .tabs-list {
        display: flex;
        flex-direction: row;
        max-width: 500px;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        .tab {
            width: auto;
            padding: 20px;
            margin: 1px;
            height: 40px;
            font-size: 12px;
            box-sizing: border-box;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid transparent;
            &:hover {
                transition: 0.3s all;
                background: $red;
                color: white;
                cursor: pointer;
            }
        }
        .selected {
            background: $red;
            color: white;
        }
        .tab-content {
            display: none;
        }
        .visible {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 120px;
            z-index: 1;
            .tab-title {
                margin-bottom: 50px;
                font-weight: bold;
                position: relative;
                &:after {
                    content: "";
                    background: url(../images/line.png);
                    position: absolute;
                    left: 0;
                    bottom: -22px;
                    height: 3px;
                    width: 30px;
                }
            }
            .tab-description {
                text-align: justify;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .loader-container {
        height: 100%;
        z-index: 1;
        width: 50%;
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: '';
                position: absolute;
                top: -28px;
                left: -48px;
                width: 110px;
                height: 110px;
                border: 2px solid transparent;
                border-bottom: 2px solid $red;
                border-radius: 50%;
                animation: animateCircle 3s linear infinite;
            }
            &:after {
                content: '';
                position: absolute;
                top: -40px;
                left: -59px;
                width: 125px;
                height: 125px;
                border: 6px solid transparent;
                border-top: 6px solid #D1D1D1;
                border-radius: 50%;
                animation: reverse animateCircle 2s linear infinite;
            }
        }
        .preloader-img {
            max-width: 350px;
        }
    }
}

.portfolio-section {
    min-height: 600px;
    background-image: url("../images/portfolio-background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    .portfolio-inner {
        max-width: 1170px;
        margin: 0 auto;
        h3 {
            font-size: 60px;
            padding: 10px;
            color: white;
            text-align: center;
        }
        .portfolio-subheader {
            margin-bottom: 100px;
            margin-top: 10px;
            text-align: center;
            position: relative;
            color: white;
            @include header-line(30px);
        }
        .reference-item {
            display: flex;
            flex-direction: row;
            color: white;
            width: auto;
            .image-container {
                width: 50%;
                display: flex;
                align-items: center;
                justify-items: center;
                .project-img {
                    width: auto;
                    max-height: 300px;
                    margin: 0 auto;
                }
            }
            .project-info {
                display: flex;
                flex-direction: column;
                width: 50%;
                text-align: justify;
                padding: 20px 30px 20px 50px;
                box-sizing: border-box;
                p:first-child {
                    font-size: 30px;
                    text-transform: capitalize;
                    font-weight: bold;
                }
                p:nth-child(2) {
                    font-size: 16px;
                    line-height: 30px;
                    padding: 20px 0px 30px 0px;
                }
                .btn-live {
                    width: 190px;
                    height: 40px;
                    text-decoration: none;
                    background: transparent;
                    color: $red;
                    border: 1px solid $red;
                    padding: 10px 20px 10px 20px;
                    box-sizing: border-box;
                    font-size: 16px;
                    cursor: pointer;
                    .fas {
                        margin-left: 20px;
                    }
                    &:hover {
                        transition: ease-in-out 0.3s;
                        background-color: darken($color: $red, $amount: 20);
                        color: white;
                        .fas {
                            transform: translateX(5px);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.references-section {
    display: flex;
    flex-direction: column;
    height: 500px;
    position: relative;
    .references-inner {
        max-width: 1270px;
        margin: 0 auto;
        .header {
            color: black;
            position: relative;
            @include header-line(80px);
        }
        .owl-carousel,
        .owl-theme,
        .owl-stage-outer,
        .reference-item {
            height: 300px;
            max-width: 1170px;
            position: relative;
        }
    }
    .owl-dots {
        padding-top: 25px;
    }
    .reference-item {
        display: flex;
        align-items: center;
    }
    .card-reference {
        div {
            display: flex;
            flex-direction: row;
            margin: 25px 20px 0px 25px;
            .company {
                font-weight: bold
            }
            .author {
                margin-left: 10px;
                font-style: italic;
            }
        }
        .quote-content {
            border: 2px solid red;
            box-shadow: 0px 0px 20px 1px rgba(153, 153, 153, 1);
            padding: 40px 50px 40px 50px;
            font-style: italic;
            text-align: justify;
            line-height: 25px;
            border: 1px solid #eeeeee;
            position: relative;
        }
    }
}

.socials-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/parallax.jpg);
    height: 24vh;
    max-height: 1200px;
    min-height: 100px;
    .social-header {
        color: white;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .socials-section {
        @include flex-row-center-center;
        i {
            @include flex-row-center-center;
            padding: 10px;
            margin: 10px;
            font-size: 16px;
            color: white;
            border-radius: 50%;
            background: transparent;
            border: 2px solid grey;
            cursor: pointer;
            height: 28px;
            width: 28px;
        }
        .fa-facebook-f {
            &:hover {
                border-color: $facebook;
                background-color: $facebook;
            }
        }
        .fa-linkedin-in {
            &:hover {
                border-color: $linkedin;
                background-color: $linkedin;
            }
        }
        .fa-google-plus-g {
            &:hover {
                border-color: $google;
                background-color: $google;
            }
        }
        .fa-twitter {
            &:hover {
                border-color: $twitter;
                background-color: $twitter;
            }
        }
    }
}

.footer {
    background-color: $footer;
    position: relative;
    z-index: 6;
    .footer-accordion {
        display: none;
        .accordion-link::after {
            content: ' ';
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: #7288a2;
            padding: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
            right: 10px;
            bottom: 5px;
        }
        .accordion-link.active::after {
            transform: rotate(180deg);
            transition: 0.3s;
        }
        .accordion-item {
            position: relative;
        }
        .content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            color: white;
            font-size: 16px;
            transition: all 0.2s ease 0.15s;
        }
        .content.active {
            opacity: 1;
            padding: 20px 15px 20px 15px;
            max-height: 100%;
            transition: all 0.35s ease 0.15s;
            text-align: justify;
        }
        .accordion-link {
            position: relative;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 2px solid #161616;
            padding: 15px 0px 15px 15px;
            box-sizing: border-box;
            cursor: pointer;
            &:after {
                cursor: pointer;
                background: url(../images/down-arrow.png);
                transform-origin: center;
                transform: rotate(0deg);
                background-size: 25px 25px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .accordion-link.active {
        color: $red;
    }
}

.inner-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-item:first-child,
     :last-child {
        width: 30%;
    }
    .footer-item:nth-child(2),
    .footer-item:nth-child(3) {
        width: 20%;
        padding: 0px 20px 0px 20px;
    }
    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        .footer-header {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            position: relative;
            margin: 25px 0px 50px 0px;
            &:after {
                content: "";
                background: url(../images/line.png);
                position: absolute;
                left: calc(0px);
                bottom: -25px;
                height: 4px;
                width: 30px;
            }
        }
        .footer-info,
        ul {
            width: 100%;
            color: #999;
            font-size: 12px;
            line-height: 25px;
            li {
                &:hover {
                    color: $red;
                    cursor: pointer;
                }
            }
        }
    }
}

.btn-up {
    @include flex-row-center-center;
    position: absolute;
    background: black;
    border: 1px solid lighten($color: #000000, $amount: 10);
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.footer-copyright {
    background: black;
    .copyright {
        padding: 30px;
        font-weight: bold;
        font-size: 10px;
        color: white;
        text-align: center;
    }
}

@import '_queries.scss';